@import "./bulma.css";

/* AT-RULES */

@font-face {
  font-family: "GochiHand-Regular";
  src: local("GochiHand-Regular"),
    url("../media/fonts/GochiHand-Regular.ttf") format("truetype");
}

/* GLOBAL RULES */

html > * {
  font-family: "GochiHand-Regular";
}

body {
  background: url(../media/bg/hiedra1.png), url(../media/bg/hiedra2.png),
    #150006;
  background-repeat: repeat-y;
  background-position: left, right, center;
  min-height: 100vh;
  background-size: clamp(60px, 10vw, 500px), clamp(60px, 10vw, 500px), cover;
  overflow: hidden;
}

/* CLEARFIX HACK RULES */

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}

.clearfix {
  transform: scale(1);
}

/* BULMA MODIFIERS */

input[type="checkbox"] {
  transform: scale(2);
}

label {
  padding-left: 1em;
  color: #e5dcde;
  font-size: 1.5em;
}

.control.has-icons-left .input:hover ~ .icon,
.control.has-icons-left .select:hover ~ .icon,
.control.has-icons-right .input:hover ~ .icon,
.control.has-icons-right .select:hover ~ .icon {
  color: #f19cb5;
}
.control.has-icons-left .input:focus ~ .icon,
.control.has-icons-left .select:focus ~ .icon,
.control.has-icons-right .input:focus ~ .icon,
.control.has-icons-right .select:focus ~ .icon {
  color: #d73969;
}

/* VIEW INITIAL STATES */

#baba-get-level {
  display: none;
}

.baba-get-level-bg-wrapper {
  position: relative;
}

.baba-get-level-bg-img {
  position: absolute;
  width: 100%;
  height: auto;
  left: 10%;
  height: 100vh;
  background-image: url(../media/images/iconos_fondo.png);
  background-repeat: repeat-y;
  background-size: 81%;
  background-position-y: top;
  opacity: 0.35;
}

/* SECTIONS */

.baba-padded-section {
  padding-inline: 6rem;
}

/* HERO */

.baba-hero-wrapper {
  width: 100%;
  align-items: center;
  position: relative;
}

.baba-hero-image {
  padding-top: 5%;
  text-align: center;
  max-width: 55%;
  height: auto;
}

/* TITLE */

.baba-title {
  color: #e5dcde;
}

/* CHECKBOXES */

#baba-check-1 {
  accent-color: #5d833a;
}

#baba-check-2 {
  accent-color: #c29e46;
}

#baba-check-3 {
  accent-color: #e5533a;
}

#baba-check-4 {
  accent-color: #9183d8;
}

/* LABELS */

.baba-text-chill {
  color: #5d833a;
  font-weight: bold;
}

.baba-text-eureka {
  color: #c29e46;
  font-weight: bold;
}

.baba-text-boom {
  color: #e5533a;
  font-weight: bold;
}

.baba-text-comfy {
  color: #9183d8;
  font-weight: bold;
}

/* BUTTONS */

.baba-button {
  background-color: #d73969;
  color: white;
  width: calc(var(--bulma-size-large) * 12);
  height: calc(var(--bulma-size-large) * 4);
}

.baba-button:hover {
  background-color: #972648;
}

.baba-button-reroll {
  background-color: #d73969;
  color: white;
}

.baba-button-restart {
  background-color: #e991cb;
}

/* INPUTS */

.baba-input {
  background-color: transparent;
  color: white;
}

.baba-input {
  cursor: pointer;
}

#baba-level-code:hover {
  color: #f19cb5;
  border-color: #f19cb5;
}

#baba-level-code:focus {
  color: #d73969;
  border-color: #d73969;
}

/* SNACKBAR */

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #d73969;
  color: white;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
