@import "./bulma.css";

@font-face {
  font-family: "GochiHand-Regular";
  src: local("GochiHand-Regular"),
    url("../media/fonts/GochiHand-Regular.ttf") format("truetype");
}

html > * {
  font-family: "GochiHand-Regular";
}

body {
  background: url(../media/bg/hiedra1.png), url(../media/bg/hiedra2.png),
    #150006;
  background-repeat: repeat-y;
  background-position: left, right, center;
  min-height: 100vh;
  background-size: clamp(60px, 10vw, 500px), clamp(60px, 10vw, 500px), cover;
}

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}

.clearfix {
  transform: scale(1);
}

#baba-get-level {
  display: none;
}

.baba-checkboxes > * {
  gap: 10px;
}

input[type="checkbox"] {
  transform: scale(2);
}

.baba-checkbox {
  color: red;
}
.baba-hero-wrapper {
  width: 100%;
  align-items: center;
  position: relative;
}

.baba-hero-image {
  padding-top: 5%;
  text-align: center;
  max-width: 55%;
  height: auto;
}

.baba-title {
  color: #e5dcde;
}

label {
  padding-left: 1em;
  color: #e5dcde;
  font-size: 1.5em;
}

#baba-check-1 {
  accent-color: #5d833a;
}

#baba-check-2 {
  accent-color: #c29e46;
}

#baba-check-3 {
  accent-color: #e5533a;
}

#baba-check-4 {
  accent-color: #9183d8;
}

.baba-text-chill {
  color: #5d833a;
  font-weight: bold;
}

.baba-text-eureka {
  color: #c29e46;
  font-weight: bold;
}

.baba-text-boom {
  color: #e5533a;
  font-weight: bold;
}

.baba-text-comfy {
  color: #9183d8;
  font-weight: bold;
}

.baba-button {
  background-color:#d73969;
  color: white;
  width: calc(var(--bulma-size-large) * 12);
  height: calc(var(--bulma-size-large) * 4);
}

.baba-button:hover {
  background-color:#972648;
}

.baba-padded-section {
  --bulma-section-padding: 3rem clamp(1.5rem, 10vw, 8.5rem);
}
